<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:right">
  <h1>
    INI TUGAS PERTAMA BIODATA
  </h1>
  <h1>{{tanggal | date:"fullDate"}}</h1>
</div>

<div class="content">
  <p>Nama: {{nama}}</p>
  <p>Alamat: {{alamat}}</p>
  <p>Hobby Saya</p>
  <table border=1>
    <tr>
      <th>No.</th>
      <th>Hobby</th>
      <th>Keterangan</th>
    </tr>
    <tr *ngFor="let Hobby of Hobbies">
      <td>{{Hobby.id}}</td>
      <td>{{Hobby.hobby}}</td>
      <td>{{Hobby.ket}}</td>
      
    </tr>
  </table>
</div>  

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
